.footer {
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-footer-background-color);
}

.logo-footer {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 20px;
}

.logo-white {
  color: var(--white-font-color);
}

.contacts-footer .item {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-color);
}

.contacts-footer .item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-footer .address {
  color: var(--white-font-color);
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .container {
  padding: 60px 15px;
}

.link-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--heder-icons-color);
  font-weight: 500;
  line-height: 1.14;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-footer {
  margin-right: 10px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-text-icons {
  margin-top: 12px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-font-color);
}
.footer-wrap {
  display: flex;
  gap: 70px;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-social-link {
  fill: var(--footer-icons-color);
  background-color: rgba(255, 255, 255, 0.1);
}