:root {
  --primary-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --white-font-color: #ffffff;
  --header-logo-color: #000000;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --hero-footer-background-color: #2f303a;
  --active-btn: #188ce8;
  --card-border: #eeeeee;
  --border-line: #ececec;
  --team-icon-color: #afb1b8;
  --clients-color: #afb1b8;
  --clients-logo-color: #2196f3;
  --footer-icons-color: #ffffff;
  --heder-icons-color: #757575;
  --input-text: #000000;
}